.default-saucer-editor {
  display: flex;
  height: 100%;

  .saucer-template-menu {
    flex-basis: 240px;
    border-right: 1px solid #ccc;

    .saucer-template-menu__item {
      padding: 10px;
      cursor: grab;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  .saucer-editor-viewport {
    flex: 1;

    .saucer-drop-indicator {
      padding: 20px;
      border: 3px dashed #999;
      background-color: #ccc;
      border-radius: 3px;
      text-align: center;
    }

    > .saucer-render-wrapper {
      width: 100%;
      height: 100%;
    }

    .saucer-render-wrapper {
      position: relative;
      cursor: grab;

      &::before {
        content: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px dashed #ccc;
      }

      &:hover::before,
      &.saucer-render-wrapper__hover::before {
        content: ' ';
      }

      &.saucer-render-wrapper__selected::before {
        content: ' ';
        border: 1px solid #4285f4;
      }

      .saucer-drop-area {
        padding: 4px;
        font-size: 10px;
        display: none;
        border: 1px dotted transparent;

        &.saucer-drop-area__over {
          background-color: #999;
        }

        &.saucer-drop-area__show {
          border: 1px dotted #ccc;
          display: block;
        }
      }
    }
  }

  .saucer-editor-treeview {
    flex-basis: 240px;
    border-left: 1px solid #ccc;
  }
}
